.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;

    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
        url('https://images.unsplash.com/photo-1518770660439-4636190af475');

    background-size: cover;
    background-position: center;
}